<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/Main.css">

    @RenderSection("RegisterStatic", required: false)

    <title>@ViewData["Title"] - MyAPI</title>

</head>
<body>
    <header>
        <nav>
            <a asp-area="" asp-page="/Index">MyAPI</a>
            <ul>
                <li>
                    <a asp-page="/Index">Home</a>
                </li>
                <li>
                    <a asp-page="/Privacy">Privacy</a>
                </li>
                <li>
                    <a asp-page="/Account/Register">Register</a>
                </li>
                <li>
                    <a asp-page="/Index">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2022 - MyAPI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
