.login-page {
    z-index: -1;
    position: absolute;
    left: 20%;
    top: 10em;
    width: 28em;
    height: 20em;
    border: 1px solid rgb(108, 221, 108);
    background-color: rgba(174, 180, 171, 0.4);
}

h2.login {
    font-size: 1.4em;
    position: absolute;
    left: 42%;
    text-decoration: underline;
}

form {
    position: absolute;
    margin: 6em 6%;
}

label.form-item {
    display: flex;
    justify-content: right;
}

label input {
    font-size: 1em;
    width: 15em;
    margin-left: 1em;
}

.login-btn {
    height: 30px;
    width: 80px;
    transform: translate(12em, 1em);
    letter-spacing: 1px;
}

    .login-btn:hover {
        transition: 0.3s;
        color: white;
        background-color: rgb(69, 70, 69);
        box-shadow: 5px 10px;
        -webkit-box-shadow: 0 3px 10px 0 rgb(236, 240, 233);
    }

.register-link {
    position: absolute;
    transform: translate(3em, 5em);
}

    .register-link a {
        padding-left: 0.5em;
        color: yellow;
    }
